:root {
    --primary-color: darkblue;
    --secondary-color: #eee;
    --light-color: white;
    --dark-color: #333;

    --border-color: black;
    --soft-border-color: rgb(0 0 0 / 0.2);
    --standard-border: 1px solid black;

    --standard-padding: 1rem;
    --small-padding: 10px;
    --large-padding: 20px;

    --main-width: 840px;

    --box-shadow: 0 0 30px gray;
}

nav {
    background-color: var(--primary-color);
    padding: var(--small-padding);
}

nav a {
    color: var(--light-color);
    display: block;
    padding: var(--large-padding);
}

main {
    max-width: var(--main-width);
}

h1 {
    color: var(--primary-color);
}

main img {
    width: 150px;
    height: auto;
    border: var(--standard-border);
    padding: 2px;
    box-shadow: var(--box-shadow);
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    margin: var(--standard-padding);
    border: 1px solid var(--soft-border-color);
    padding: var(--standard-padding);
    background-color: var(--secondary-color);
    color: var(--dark-color);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: var(--standard-border);
    text-align: center;
}